.THIS.area-list {
    border: 4px solid #0070d3;
    width:540px;
    height:250px;
    border-radius:6px;
    margin-left:auto; 
    margin-right:auto;
}

.THIS .one-image {
 border: 2px dotted black;  
    min-width:120px;
    height:110px;
}

.THIS .changeMe {
 border: 2px solid red;   
}